## Question 1

Consider the following Python module:
a = 0 

def b():

global a

a = c(a)

def c(a):

return a + 2

After importing the module into the interpreter, you execute:

 b()
 
 b()
 
 b()
 
 a
 
 ?
 
What value is displayed when the last expression (a) is evaluated? Explain your Banswer by indicating what happens in every executed statement.

In [1]:
a = 0
def b():
    global a
    a = c(a)
    print(a)
def c(a):
    return a+2

In [2]:
b()
b()
b()

2
4
6

In [3]:
a

6

**Explaination:**

Here in above code, we have called two functions called b() and c(). And we have one variable named 'a' which is initialized with a value of 0.

Now b() function called 3 times:

First time :

When b() function is called, the another function c() inside is also called, passing the global value of "a" which is 0 . The calculation will be a=0+2=2 means the value will return from c() back to b(). Subsequently, in b(), the returned value of 2 is assigned to the variable "a".

Second time:

Second time, the updated value of a(which is "2") is passed to the function c().Inside c(), the value of a is incremented by 2 and resultinf value will be back to b(). which will be a=2+2=4.

Third time:

Ultimatly, with the same logic the value of a(which is now "4") passed to c().and then the calculated valkue (a=4+2=6) will return to b()

Since it was the last call for b(), the final value of "a" will be "6" .

## Question 2

Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file:

In [8]:
def fileLength(file_name):
    try:
        file_info = open(file_name)
        details = file_info.read()
        file_info.close()
        print(len(details))
    except: print(f"File {file_name} not found!")

In [9]:
fileLength("Filelength.txt")

122

In [10]:
fileLength("Filelength1.txt")

File Filelength1.txt not found!

## Question 3

In [9]:
list1 = []
x = 0
y = 0
class Marsupial():
    
    def put_in_pouch(self,user_input):
        list1.append(user_input)
    
    def pouch_contents(self):
        print(list1)
m= Marsupial()
m.put_in_pouch("doll")
m.put_in_pouch("firetruck")
m.put_in_pouch("kitten")
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [10]:
class Kangaroo(Marsupial):
    
    def __init__(self,x,y): 
        Marsupial.__init__(self)
    
    def jump(self,dx,dy):
        global x
        global y
        x +=dx
        y +=dy
    def __str__(self):
        return(f"I am a Kangaroo located at coordinates({x},{y})")

In [11]:
k= Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates(0,0)

In [12]:
k.put_in_pouch("doll")
k.put_in_pouch("firetruck")
k.put_in_pouch("kitten")
k.pouch_contents()

['doll', 'firetruck', 'kitten', 'doll', 'firetruck', 'kitten']

In [13]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates(3,0)

## Question 4

In [14]:
def collatz(x):
    if x <= 0:
        print("Please give positive number as an input.")
        return

    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

In [15]:
collatz(1)

1

In [16]:
collatz(10)

10
5
16
8
4
2
1

## Question 5

In [ ]:
def binary(num):
    if num == 0: 
        print("0", end="")
    elif num == 1: 
        print("1", end="")
    else: 
        binary(num // 2) 
        print(num % 2, end="")

In [ ]:
binary(0)

In [ ]:
binary(1)

In [ ]:
binary(3)

In [ ]:
binary(9)

## Question 6

In [34]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.headings = []  # Store the headings with their indentation level
        self.current_indent = 0  # Current indentation level
        self.heading_tags = ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']  # HTML heading tags

    def handle_starttag(self, tag, attrs):
        if tag in self.heading_tags:
            self.current_indent += 1

    def handle_endtag(self, tag):
        if tag in self.heading_tags:
            self.current_indent -= 1

    def handle_data(self, data):
        if self.current_indent > 0:
            heading_text = data.strip()
            self.headings.append((self.current_indent - 1, heading_text))

    def print_headings(self):
        for indent, heading in self.headings:
            print(" "  * indent + heading)

# Read the HTML file
with open('w3c.html') as infile:
    content = infile.read()

hp = HeadingParser()
hp.feed(content)
hp.print_headings()

W3C Mission
Principles

## Question 7

In [ ]:
import requests
from urllib.parse import urlparse, urljoin
from bs4 import BeautifulSoup

def webdir(url, depthLimit, indent):
    urls_to_visit = [(url, 0)]
    while urls_to_visit:
        url, current_level = urls_to_visit.pop(0)
        print(" " * indent * current_level, url)
        if current_level == depthLimit:
            continue
        response = requests.get(url)
        soup = BeautifulSoup(response.content, "html.parser")
        for link in soup.find_all("a"):
            sub_url = link.get("href")
            if not sub_url:
                continue
            sub_url = urljoin(url, sub_url)
            if urlparse(sub_url).scheme not in ('http', 'https'):
                continue

            urls_to_visit.append((sub_url, current_level + 1))

In [ ]:
webdir("https://reed.cs.depaul.edu/lperkovic/", 2, 0)

## Question 8

a) SELECT * FROM temprature; 

b) SELECT DISTINT cities from temprature;

c) SELECT * from temprature WHERE country = 'India';

d) select * from temprature where season = 'Fall';

e) select city, country, season from temprature where rainfall BETWEEN 200 AND 400;

f) SELECT city, country from temprature where season = 'Fall' AND temprature > 20 ORDER BY temprature;

g) select SUM(rainfall) from temprature where country = 'Cairo';

h) select season ,SUM(rainfall) from temprature GROUP BY SEASON;

In [39]:
import sqlite3

conn = sqlite3.connect('weather.db')
cursor = conn.cursor()

# Create the table
create_table_query = '''
CREATE TABLE IF NOT EXISTS temperature (
    City VARCHAR,
    Country VARCHAR,
    Season VARCHAR,
    Temperature FLOAT,
    Rainfall FLOAT
)
'''

cursor.execute(create_table_query)

# Insert the data into the table
insert_query = '''
INSERT INTO temperature (City, Country, Season, Temperature, Rainfall)
VALUES (?, ?, ?, ?, ?)
'''

data = {
    'City': ['Mumbai', 'Mumbai', 'Mumbai', 'Mumbai', 'London', 'London', 'London', 'London', 'Cairo', 'Cairo', 'Cairo', 'Cairo'],
    'Country': ['India', 'India', 'India', 'India', 'United Kingdom', 'United Kingdom', 'United Kingdom', 'United Kingdom', 'Egypt', 'Egypt', 'Egypt', 'Egypt'],
    'Season': ['Winter', 'Spring', 'Summer', 'Fall', 'Winter', 'Spring', 'Summer', 'Fall', 'Winter', 'Spring', 'Summer', 'Fall'],
    'Temperature': [24.8, 28.4, 27.9, 27.6, 4.2, 8.3, 15.7, 10.4, 13.6, 20.7, 27.7, 22.2],
    'Rainfall': [5.9, 16.2, 1549.4, 346.0, 207.7, 169.6, 157.0, 218.5, 16.5, 6.5, 0.1, 4.5]
}


for i in range(len(data['City'])):
    cursor.execute(insert_query, (data['City'][i], data['Country'][i], data['Season'][i], data['Temperature'][i], data['Rainfall'][i]))

# Commit the changes and close the connection
conn.commit()


print("Values added to the 'temperature' table in the 'weather.db' database.")

Values added to the 'temperature' table in the 'weather.db' database.

In [11]:
import sqlite3

conn = sqlite3.connect('season.db')
curs = conn.cursor()

curs.execute( '''
DROP TABLE IF EXISTS temp_details; 
''')

# Create the table
table = '''
CREATE TABLE temp_details (
    City VARCHAR,
    Country VARCHAR,
    Season VARCHAR,
    Temperature FLOAT,
    Rainfall FLOAT
)
'''

curs.execute(table)

# Insert the data into the table
insert_query = '''
INSERT INTO temp_details (City, Country, Season, Temperature, Rainfall)
VALUES (?, ?, ?, ?, ?)
'''

data = {
    'City': ['Mumbai', 'Mumbai', 'Mumbai', 'Mumbai', 'London', 'London', 'London', 'London', 'Cairo', 'Cairo', 'Cairo', 'Cairo'],
    'Country': ['India', 'India', 'India', 'India', 'United Kingdom', 'United Kingdom', 'United Kingdom', 'United Kingdom', 'Egypt', 'Egypt', 'Egypt', 'Egypt'],
    'Season': ['Winter', 'Spring', 'Summer', 'Fall', 'Winter', 'Spring', 'Summer', 'Fall', 'Winter', 'Spring', 'Summer', 'Fall'],
    'Temperature': [24.8, 28.4, 27.9, 27.6, 4.2, 8.3, 15.7, 10.4, 13.6, 20.7, 27.7, 22.2],
    'Rainfall': [5.9, 16.2, 1549.4, 346.0, 207.7, 169.6, 157.0, 218.5, 16.5, 6.5, 0.1, 4.5]
}


for i in range(len(data['City'])):
    curs.execute(insert_query, (data['City'][i], data['Country'][i], data['Season'][i], data['Temperature'][i], data['Rainfall'][i]))

# Commit the changes and close the connection
conn.commit()


print("Values added to the 'temp_details' table in the 'season.db' database.")

Values added to the 'temp_details' table in the 'season.db' database.

In [42]:
#a)
curs.execute("SELECT * FROM temperature")
result_a = curs.fetchall()
print("a) All the temperature data.")
for row in result_a:
    print(row)

#b) 
curs.execute("SELECT DISTINCT City FROM temperature")
result_b = curs.fetchall()
print("\nb) All the cities, but without repetition.")
for row in result_b:
    print(row[0])

# c) 
curs.execute("SELECT * FROM temperature WHERE Country = 'India'")
result_c = curs.fetchall()
print("\nc) All the records for India.")
for row in result_c:
    print(row)

# d)
curs.execute("SELECT * FROM temperature WHERE Season = 'Fall'")
result_d = curs.fetchall()
print("\nd) All the Fall records")
for row in result_d:
    print(row)

# e)  
curs.execute("SELECT City, Country, Season FROM temperature WHERE Rainfall BETWEEN 200 AND 400")
result_e = curs.fetchall()
print("\n The city, country, and season for which the average rainfall is between 200 and 400 millimeters:")
for row in result_e:
    print(row)

# f) 
curs.execute("SELECT City, Country FROM temperature WHERE Season = 'Fall' AND Temperature > 20 ORDER BY Temperature")
result_f = curs.fetchall()
print("\nf) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order")
for row in result_f:
    print(row)

# g) 
curs.execute("SELECT SUM(Rainfall) FROM temperature WHERE Country = 'Cairo'")
result_g = curs.fetchone()[0]
print("\ng) The total annual rainfall for Cairo.")
print(result_g)

# h) 
curs.execute("SELECT Season, SUM(Rainfall) FROM temperature GROUP BY Season")
result_h = curs.fetchall()
print("\nh) The total rainfall for each season.:")
for row in result_h:
    print(row)

# Close the connection
conn.close()

a) All the temperature data.
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

b) All the cities, but without repetition.
Mumbai
London
Cairo

c) All the records for India.
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

d) All the Fall records
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

 The city, country, and season for which the average rainfall is between 200 and 400 millimeters:
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order
('Cairo', 'Egypt')
('Cairo', 'Egypt')
('Cairo', 'Egypt')
('Cairo', 'Egypt')
('Cairo', 'Egypt')
('Cairo', 'Egypt')
('Cairo', 'Egypt')
('Cairo', 'Egypt')
('Cairo', 'Egypt')
('Cairo', 'Egypt')
('Cairo', 'Egypt')
('Mumbai', 'India')
('Mumbai', 'India')
('Mumbai', 'India')
('Mumbai', 'India')
('Mumbai', 'India')
('Mumbai', 'India')
('Mumbai', 'India')
('Mumbai', 'India')
('Mumbai', 'India')
('Mumbai', 'India')
('Mumbai', 'India')

g) The total annual rainfall for Cairo.
None

h) The total rainfall for each season.:
('Fall', 6259.0)
('Spring', 2115.3)
('Summer', 18771.5)
('Winter', 2531.1)

## Question 9

In [16]:
words = ['The','quick','brown','fox','jumps','over','the','lazy','dog']
upper = []
lower = []
list_of_length = []
three_lists = []
longer_char=[]

for word in words:
    upper.append(word.upper())
print("A)", upper)

for word in words:
    lower.append(word.lower())
print("B)", lower)

for word in words:
    count_word = len(word)
    list_of_length.append(count_word)
print("C)" ,list_of_length)

for word in words:
    uppercase = word.upper()
    lowercase = word.lower()
    count = len(word)
    three_lists.append([uppercase,lowercase,count])
print("D)", three_lists)
    
for word in words:
    if len(word)>=4:
        longer_char.append(word)
print("E)" ,longer_char)

A) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
B) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
C) [3, 5, 5, 3, 5, 4, 3, 4, 3]
D) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
E) ['quick', 'brown', 'jumps', 'over', 'lazy']